/* Styling pop_up window content */

body {
    overflow: hidden;
    background-color: #51AFC0;
}

.cont_pop {
    position: absolute;
    display: block;
    top: 15%;
    left: 20%;
    background-color: #BFBFBF;
    width: 60%;
    max-width: 800px;
    height: 55%;
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    z-index: 4;

}

/* button bar*/
.cont_pop_bar {
    position: absolute;
    top: 0.5%;
    left: 0.25%;
    background-color: #00007F;
    width: 99.5%;
    height: 27px;
}

.cont_pop_bar_title h1 {
    padding-left: 20px;
    font-family: 'Arial', sans-serif;
    color: white;
    font-weight: normal;
    font-size: 18px;
}

.cont_pop_bar_title {
    top : 0;
    width: 100%;
    position: absolute;
    margin: 5px;
}

.cont_pop_bar_title img{
    float: left;
    position: relative;
    top: -4px;
}

.cont_pop_bar_min {
    position: absolute;
    right: 48px;
    top: 3.5px;
    width: 17px;
    height: 17px;
    padding: 1.2px;
    background-color: #BFBFBF;
    border-top: solid 1.5px white;
    border-left: solid 1.5px white;
    border-right: solid 1.5px black;
    border-bottom: solid 1.5px black;
}

.cont_pop_bar_max {
    position: absolute;
    right: 26px;
    top: 3.5px;
    width: 17px;
    height: 17px;
    padding: 1.2px;
    background-color: #BFBFBF;
    border-top: solid 1.5px white;
    border-left: solid 1.5px white;
    border-right: solid 1.5px black;
    border-bottom: solid 1.5px black;
}

.cont_pop_bar_close {
    position: absolute;
    right: 3px;
    top: 3.5px;
    width: 17px;
    height: 17px;
    padding: 1.2px;
    background-color: #BFBFBF;
    border-top: solid 1.5px white;
    border-left: solid 1.5px white;
    border-right: solid 1.5px black;
    border-bottom: solid 1.5px black;
}

.cont_pop_bar_close:hover {
    outline: dotted black 1px;
    outline-offset: -3px;
}

.cont_pop_bar_close:active {
    border-top: solid 1.5px black;
    border-left: solid 1.5px black;
    border-right: solid 1.5px white;
    border-bottom: solid 1.5px white;
}

/* end Button bar */

/*content inside slider*/
.cont_pop_content {
    position: absolute;
    left: 0.25%;
    top: 8%;
    width: 99.5%;
    height: 86%;
}

.cont_pop_content p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.cont_pop_content h1{
    font-family: 'Droid Serif', serif;
    font-size: 24px;

}

.cont_pop_content_story {
    position: absolute;
    left: 2%;
    top: 5%;
    width: 100%;
    height: 100%;
}

.cont_pop_content_story a:hover {
    font-weight: normal;
    text-align: center;
    cursor: pointer;
}


#story_block {
    float: left;
    position: absolute;
    background-color: darkslategray;
    top: 10%;
    left: 0%;
    width: 70%;
    height: 70%;
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
}

#story_block h1{
    position: absolute;
    top: 20%;
    left: 13%;
    color: white;
    font-weight: normal;
    font-size: 20px;
}

#story_block p{
    position: absolute;
    top: 36%;
    left: 13%;
    width: 75%;
    color: white;
    font-weight: normal;
    font-size: 18px;
}

#story_block img{
    background-image: inherit;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.get-window {
    display: block;
}

.storytext {
    position: absolute;
    bottom: 8%;
}

.storytext p {
    font-size: 16px;
    font-weight: normal;
}

.storynext {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 20%;
    height: 40px;
    background-color: #BFBFBF;
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding-top: 1%;
}


.storynext:active {
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
}

.storynext:hover {
    outline: dotted black 2px;
    outline-offset: -5px;
}

.storyprev {
    position: absolute;
    right: 5%;
    top: 22%;
    width: 20%;
    height: 40px;
    background-color: #BFBFBF;
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding-top: 1%;
}

.storyprev:active {
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
}

.storyprev:hover {
    outline: dotted black 2px;
    outline-offset: -5px;
}


.storyenter {
    position: absolute;
    right: 5%;
    top: 86%;
    width: 20%;
    height: 40px;
    background-color: #BFBFBF;
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding-top: 1%;
}

.storyenter:active {
    border-top: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
}

.storyenter:hover {
    outline: dotted black 2px;
    outline-offset: -5px;
}


.story_justlin {
    position: absolute;
    top: 80%;
    right: 5%;
    height: 1px;
    width: 22%;
    border-top: 2px solid #969696;
    border-bottom: 2px solid white;
}

/* end slider*/
